/* primary style */

.azeret-mono-family {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* background style */

.background-design{
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 20px;
    margin: 0px 195px 0px 190px;
 
}
.child{
    height: 4300px;
    width: 75px;
    background-color: rgb(255, 192, 203,0.4);
    
}
/* nav bar */
.navigation{
    display: flex;
    justify-content: space-between;
    margin: -680px 195px 50px 190px;
   
}

/* banner */
.hero{
    background-image: url(../images/Hero-bg.png);
    height: 650px;
    margin-bottom: 75px;
    text-align: center;
}
/* why-web-dev */
.why-web-dev{
    margin: 0px 195px 90px 190px;
}
.reason{
    margin: 80px 97px 80px 97px;
}
.content-1{
    margin: 0px 48px 48px 48px;
    text-align: center;
}
.content-child{
    display: flex;
    margin: 48px;
    justify-content: space-between;
}

/* My Inspiration */
.my-inspiration{
    margin: 0px 195px 150px 190px;
}
.my-inspiration>.description{
    margin: 0px 145px 50px 145px;
    text-align: center;
}
.my-inspiration iframe{
    margin: 32px;
}

/* my-current-target */
.my-current-target{
        margin: 0px 195px 110px 190px;
        max-height: 500px;
}
.my-current-target>.description{
    margin: 0px 95px 45px 95px;
    text-align: center;
}
.my-current-target>.skills{
    display: flex;
    gap: 24px;
}
.my-current-target>.skills>.skill-child{
    width: 370px;
    margin: 40px;
}
#child-1{
    background-color:rgb(255, 192, 203,0.2);
 
}

#child-2{
    background-color:rgb(255, 239, 213,0.4);
}
#child-3{
    background-color: rgba(187, 187, 229, 0.2);
}
/* my-next-target */
.my-next-target{
    margin: 0px 195px 50px 190px;
}
.my-next-target>.description{
    margin: 0px 95px 45px 95px;
    text-align: center;
}
.my-next-target>.skills>.skill-child{
    margin:40px 40px 24px 40px;
}
.my-next-target>.skills>.skill-child{
    display: flex;
}
/* Support section */
.support{
    max-height:310px ;
    margin: 0px 195px 80px 190px;
    background-image: url("../images/handshake.jpg");
    background-size: cover;
    background-position:center ;
    opacity: 0.9;
    color: white;
}
.support>.content{
    text-align: center;
    padding: 64px 48px 64px 48px;
  
}

/* footer */
.footer-section{
      margin: 0px 195px 0px 190px;
      display: flex;
      justify-content: space-between;
}
.footer-section>.contact-details{
    display: flex;
    gap: 60px;
}


